.MuiListItem-root {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.Muilist-root {
    padding-top: 0px;
    padding-bottom: 0px;
}
.MuiTypography-root {
    color: #ffffff;
}
.MuiListItemIcon-root {
    color: #ffffff !important;
}
